# Python 字节码文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
.venv/
env.bak/
venv.bak/

# 日志文件
logs/
*.log

# 本地环境配置
settings_local.py
env/
.env
.env.test
.env.dev

# IDE 配置
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 数据库文件
*.sqlite
*.db
*.sqlite3

# 缓存、临时文件和备份
.cache/
tmp/
temp/
*.tmp
*.bak

# 打包/部署
*.tar.gz
*.zip
docker-compose.override.yml

versions/

problems.md